html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bg-black);
}

/******************GENERAL**********************/

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--text-muted);
    p,
    blockquote,
    ul {
        line-height: 1.7;
        font-size: 1rem;
    }
}


a {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: 0;
}

textarea:focus, input:focus{
    outline: none;
}

a, button, input, select, textarea, label, label:checked, label:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

img, video {max-width: 100%;}

::-webkit-input-placeholder {
  color: #AAA;
}
::-moz-placeholder {
  color: #AAA;
}
:-moz-placeholder {
  color: #AAA;
}
:-ms-input-placeholder {
  color: #AAA;
}
::-ms-input-placeholder {
  color: #AAA;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-inline>li {
    display: inline;
}

.text-center {text-align: center;}

.text-adapted {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.info-block, .white-nav {
    background-color: #ffffff;
    -moz-box-shadow: 0 2px 4px rgba(50,50,93,.1);
    -webkit-box-shadow: 0 2px 4px rgba(50,50,93,.1);
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

.bold {
    font-weight: 600;
}

code {
    white-space: pre-wrap;
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.2rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    text-indent: 0;
    line-height: 1.1rem;
}

pre.highlight {
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.7rem;
    border-radius: 0.2rem;
    text-indent: -6px;
}

pre.highlight>code {
    background-color: none;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #393939;
}

.untranslated {
    background-color: #ff7519;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

.untranslated.yes {
    display: none;
}

.untranslated.no {
    display: block;
}








.upgrade-content {
    background-color: #e5ba38;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    text-align: center;
    color: #4c4c4c;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    -moz-box-shadow: 0 2px 6px rgba(50,50,93,.1);
    -webkit-box-shadow: 0 2px 6px rgba(50,50,93,.1);
    box-shadow: 0 2px 6px rgba(50,50,93,.1);
    margin-bottom: 0.4rem;
    position: relative;
}

.upgrade-content a {
    color: #4c4c4c;
    font-size: 1.1rem;
}

.upgrade-content p {
    padding: 0;
    display: block;
    font-size: 1.1rem;
}

#upgrade-toggle {
    display: none;
}

#upgrade-toggle:checked ~ .upgrade-content, #upgrade-toggle:checked ~ .upgrade-x {
    display: none;
}

label.upgrade-x {
  position: absolute;
  right: 1rem;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
}

label.upgrade-x:hover {
  opacity: 1;
}

label.upgrade-x:before, label.upgrade-x:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #4c4c4c;
}

label.upgrade-x:before {
  transform: rotate(45deg);
}

label.upgrade-x:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 75rem) {

    .upgrade-content p {
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
    }
        
    .upgrade-content a {        
        font-size: 1rem;
    }
        
    label.upgrade-x:before, label.upgrade-x:after {
    position: absolute;
    content: ' ';
    height: 30px;
    background-color: #4c4c4c;
    }

}

@media only screen and (max-width: 62rem) {

    .upgrade-content {        
        position: fixed;
        top: auto;
        bottom: 0;
        margin-bottom: 0;
        -moz-box-shadow: 0 0 6px rgba(50,50,93,.1);
        -webkit-box-shadow: 0 0 6px rgba(50,50,93,.1);
        box-shadow: 0 0 6px rgba(50,50,93,.1);
    }
        
    .upgrade-content p {
        width: 80%;
    }
        
    label.upgrade-x {
        top: 0.5rem;
        right: 0.5rem;
    }

}

@media only screen and (max-width: 30rem) {
    
    .upgrade-content p {
        width: 75%;
    }

}

.disclaimer {
    background-color: #ff7519;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

.untranslated-link {
    color: white;
    text-decoration: underline;
}

.disclaimer-link {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 75rem) {

    body p, body blockquote, body ul {
        font-size: 16px;
        font-size: 1rem;
    }

}

@media only screen and (max-width: 62rem) {

    .page-wrapper {
        padding-top: 4.5rem;
    }
    code {
        word-break: break-all;
    }

}

@media only screen and (max-width: 48rem) {

    body {font-size: 1rem;}

    .page-wrapper {
        padding-top: 4.5rem;
    }

    .untranslated p {
        font-size: 0.6rem;
    }

}


/*********************FORUM FUNDING SYSTEM*************************/

/* FFS GENERAL */

.ffs {
    padding-bottom: 3rem;
}

.ffs .info-block {
    padding: 2.5rem;
    border-radius: 2px;
}

.ffs a, .ffs-proposal a, .ffs-main a {
    color: #000;
    border-bottom: 2px dotted #a1aabb;
}

.ffs a:hover, .ffs-proposal a:hover, .ffs a:focus, .ffs-proposal a:focus, .ffs a:active, .ffs-proposal a:active, .ffs-main a:hover, .ffs-main a:focus, .ffs-main a:active {
    border-bottom: 2px solid #a1aabb;
    text-decoration: none;
}

.ffs h3 {
    padding-top: 0;
    letter-spacing: 0;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: underline;
    text-decoration-color: #9099a8;
    text-decoration-color: #a1aabb;
    text-decoration-style: dotted;
    margin-bottom: 0.5rem;
}

.ffs h3 a {
    color: #4c4c4c;
    text-decoration: underline;
}

/* FFS MAIN */

.ffs-main h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    padding-bottom: 1rem;
}

.ffs-main .half:nth-child(even) {
    padding-left: 0.5rem;
    padding-right: 0;
}

.ffs-main .half:nth-child(odd) {
    padding-right: 0.5rem;
    padding-left: 0;
}

.ffs-main .icon {
    width: 4.7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
}

.ffs-main a.ffs-cat {
    background-color: #ffffff;
    padding: 2.5rem;
    border: 3px dotted #dbdfe1;
    border: none;
    border-radius: 6px;
    -moz-box-shadow: 0 0 5px rgba(50,50,93,.4);
    -webkit-box-shadow: 0 0 5px rgba(50,50,93,.4);
    box-shadow: 0 0 5px rgba(50,50,93,.4);
    margin-bottom: 1rem;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    word-wrap: break-word;
    text-decoration: none;
    color: #4c4c4c;
    -webkit-transition: background .15s ease, box-shadow .15s ease;
    -moz-transition: background .15s ease, box-shadow .15s ease;
    -o-transition: background .15s ease, box-shadow .15s ease;
    transition: background .15s ease, box-shadow .15s ease;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.ffs-main a.ffs-cat:hover, .ffs-main a.ffs-cat:active, .ffs-main a.ffs-cat:focus {
    -moz-box-shadow: 0 0 10px rgba(50,50,93,.4);
    -webkit-box-shadow: 0 0 10px rgba(50,50,93,.4);
    box-shadow: 0 0 10px rgba(50,50,93,.4);
}

.ffs-main .col-sm-8 {
    padding-left: 1rem;
}

.ffs-main h2 {
    text-align: left;
}

.ffs-main h2 a {
    color: #4c4c4c;
}

.ffs-main a.ffs-cat p {
    padding-top: 0;
}

@media only screen and (max-width: 62rem) {

.ffs-main h1 {
    margin: 1.5rem 0 1.3rem 0;
}

.ffs-main .container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ffs-main a.ffs-cat {
    padding: 1.5rem;
}

.ffs-main a.ffs-cat h2 {
    font-size: 1.3rem;
}

.ffs-main a.ffs-cat p {
    font-size: 0.9rem;
}

.container.description p {
    margin-bottom: 2rem;
}

}

@media only screen and (max-width: 48rem) {

.ffs-main h1 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.ffs-main .half:nth-child(even) {
    padding-left: 0;
}

.ffs-main .half:nth-child(odd) {
    padding-right: 0;
}

}

@media only screen and (max-width: 41rem) {

.ffs-main h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.container.description p {
    padding: 0 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: left;
}

}

@media only screen and (max-width: 30rem) {

h1 {
    padding: 0 2.5rem;
    font-size: 1.5rem;
    line-height: 1.3;
}

.container.description p {
    padding: 0;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.ffs-main .ffs-cat .col-xs-4 {
    display: none;
}

.ffs-main .ffs-cat .col-xs-8 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 0;
}

.ffs-main a.ffs-cat {
    border: none;
    border-radius: 6px;
}

}

/* FFS IDEAS LIST */

.ideas h1 {
    display: none;
}

.ffs-breadcrumbs p.submit-idea {
    float: right;
}

.ffs-breadcrumbs p.submit-idea a {
    background-color: #4e9965;
    color: #fff;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
    -webkit-transition: background .15s ease, box-shadow .15s ease;
    -moz-transition: background .15s ease, box-shadow .15s ease;
    -o-transition: background .15s ease, box-shadow .15s ease;
    transition: background .15s ease, box-shadow .15s ease;
}

.ffs-breadcrumbs p.submit-idea a:hover, .ffs-breadcrumbs p.submit-idea a:focus, .ffs-breadcrumbs p.submit-idea a:active {
    background-color: #188039;
}

.ffs-breadcrumbs p.submit-idea a:after, .ffs-breadcrumbs p.submit-idea a:before {
    display: none;
}

.ffs a.ffs-idea {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 6px;
    -moz-box-shadow: 0 0 5px rgba(50,50,93,.4);
    -webkit-box-shadow: 0 0 5px rgba(50,50,93,.4);
    box-shadow: 0 0 5px rgba(50,50,93,.4);
    margin-bottom: 1rem;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    word-wrap: break-word;
    text-decoration: none;
    color: #4c4c4c;
    -webkit-transition: background .15s ease, box-shadow .15s ease;
    -moz-transition: background .15s ease, box-shadow .15s ease;
    -o-transition: background .15s ease, box-shadow .15s ease;
    transition: background .15s ease, box-shadow .15s ease;
    border-bottom: none;
}

.ffs a.ffs-idea:hover, .ffs a.ffs-idea:focus, .ffs a.ffs-idea:active {
    -moz-box-shadow: 0 0 10px rgba(50,50,93,.4);
    -webkit-box-shadow: 0 0 10px rgba(50,50,93,.4);
    box-shadow: 0 0 10px rgba(50,50,93,.4);
    border-bottom: none;
}

.ffs p.author-list span img, .ffs p.date-list span img, .ffs-proposal p.author-list span img, .ffs-proposal p.date-list span img, .ffs-proposal p.progress-number-goal span img {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.3rem;
    vertical-align: baseline;
}

.ffs p.author-list:before, .ffs p.date-list:before, .ffs-proposal p.author-list:before, .ffs-proposal p.date-list:before, .ffs-proposal p.progress-number-goal:before, .ffs-proposal p.date-list.contributor:before, .in-progress p.progress-number-goal:before, .complete-proposal p.progress-number-goal:before {
    content: '';
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.3rem;
    vertical-align: baseline;
    background-size: cover;
}

.ffs p.author-list:before,
.ffs-proposal p.author-list:before {
    background-image: url(/img/circle-user.svg);
}

.ffs p.date-list:before,
.ffs-proposal p.date-list:before {
    background-image: url(/img/date.svg);
}

.in-progress p.progress-number-goal:before,
.ffs-proposal p.progress-number-goal:before,
.complete-proposal p.progress-number-goal:before {
    background-image: url(/img/particl-amount.svg);
}

.ffs p.date-list.contributor:before,
.ffs-proposal p.date-list.contributor:before {
    background-image: url(/img/rocket.svg);
}

.ffs p.author-list, .ffs p.date-list, .ffs-proposal p.author-list, .ffs-proposal p.date-list, .in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
    padding-top: 0;
    font-size: 1.1rem;
    color: #9ca1ac;
    line-height: 0;
    display: inline;
    vertical-align: middle;
}

.ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .ffs p.date-list, .in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
    margin-left: 2rem;
}

p.author-list, p.date-list, p.progress-number-goal, p.bar-work-status {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.ideas p.author-list, .ideas p.date-list, .complete-proposal p.author-list, .complete-proposal p.date-list {
    display: inline;
}

.ideas p.date-list, .complete-proposal p.date-list {
    margin-left: 2rem;
}

.ffs p.list-button {
    padding-top: 1.5rem;
}

.ffs .ideas p.list-button, .ffs .fund-required p.list-button, .ffs .in-progress p.list-button, .ffs .complete-proposal p.list-button {
    padding-top: 0;
    text-align: right;
}

.ideas h1, .fund-required h1, .in-progress h1, .complete-proposal h1 {
    display: none;
}

@media only screen and (max-width: 75rem) {

}

@media only screen and (max-width: 62rem) {

.ideas h1, .fund-required h1, .in-progress h1, .complete-proposal h1 {
    display: initial;
    display: block;
    text-align: left;
    margin: 1.5rem 1rem 1.3rem 3.5rem;
    font-size: 2rem;
    padding: 0;
}

.ffs a.ffs-idea {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ideas p.author-list, .ideas p.date-list, .complete-proposal p.author-list, .complete-proposal p.date-list {
    font-size: 1rem;
}

}

@media only screen and (max-width: 48rem) {

.ideas h1, .fund-required h1, .in-progress h1, .complete-proposal h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.ffs .ffs-idea {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ideas p.author-list, .ideas p.date-list, .complete-proposal p.author-list, .complete-proposal p.date-list {
    padding-top: 0.7rem;
}

}

@media only screen and (max-width: 41rem) {

.ideas h1, .fund-required h1, .in-progress h1, .complete-proposal h1 {
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

}

@media only screen and (max-width: 30rem) {

.ideas h1, .fund-required h1, .in-progress h1, .complete-proposal h1 {
    margin-top: 0.5rem;
}

.ideas p.author-list, .ideas p.date-list, .complete-proposal p.author-list, .complete-proposal p.date-list, .ffs p.author-list, .ffs p.date-list {
    display: block;
    margin-left: 0;
}

}

@media only screen and (max-width: 28rem) {

.ideas p.author-list, .ideas p.date-list, .complete-proposal p.author-list, .complete-proposal p.date-list {
    padding-top: 0.7rem;
}

}

/* FFS FUNDING REQUIRED LIST */

.ffs .fund-required p.list-button a {
    display: block;
    margin-left: auto;
}

.ffs .fund-required p.list-button .btn-secondary {
    margin-top: 1.5rem;
}

.fund-required p.author {
    padding-top: 0.5rem;
}

.fund-required p.bar-fund-status, .ffs-proposal p.bar-fund-status, .in-progress p.bar-work-status, .ffs-proposal p.bar-work-status, .ffs-con p.bar-fund-status {
    padding-top: 0;
    font-weight: bold;
    font-family: var(--font);
    text-align: right;
    float: right;
    font-size: 1.2rem;
}

.fund-required .progress-bar {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fund-required a.btn-link:nth-of-type(2) {
    margin-left: 2rem;
}

@media only screen and (max-width: 62rem) {

.fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
    font-size: 1rem;
}

.fund-required p.bar-fund-status, .ffs-fr p.bar-fund-status, .ffs-con p.bar-fund-status {
    font-size: 1rem;
}

}

@media only screen and (max-width: 48rem) {

.fund-required p.date-list, .ffs-fr p.date-list {
    padding-top: 0;
}

}

@media only screen and (max-width: 41rem) {

.fund-required .between-xs, .ffs-fr .between-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
    padding-top: 0.3rem;
}

.fund-required p.bar-fund-status, .ffs-fr p.bar-fund-status, .ffs-con p.bar-fund-status {
    text-align: left;
    float: none;
    font-size: 1rem;
    padding-top: 0;
    margin-top: 1rem;
}

}

@media only screen and (max-width: 30rem) {

.fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
    padding-top: 0.7rem;
}
}

/* FFS FUNDING REQUIRED SINGLE */

.ffs-proposal {
    .info-block {
        padding: 4rem;
    }
    h2 {
        text-align: left;
    }
    p.progress-number-goal {
        padding-top: 0;
        font-size: 1.1rem;
        color: #a1aabb;
        line-height: 0;
        display: inline;
        vertical-align: middle;
    }
    .btn {
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        text-decoration: none;
        font-family: var(--font);
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 2rem;
        cursor: pointer;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
        display: inline-block;
        transition: background .15s ease, box-shadow .15s ease;
        margin: 0 auto;
        border-radius: var(--radius);
    }
    .btn-primary {
        background-color: var(--color-secondary);
        color: #ffffff;
        &:hover,
        &:active,
        &:focus {
            background-color: var(--color-tertiary);
            color: #ffffff;
            border: none !important;
            box-shadow: 0 0 30px rgba(50, 50, 93, .2), 0 3px 22px rgba(0, 0, 0, .2);
        }
    }
}


.in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
    font-size: 1.1rem;
    color: #a1aabb;
    line-height: 0;
    display: inline;
    vertical-align: middle;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  width: 33.333%;
  padding: 1rem 0;
  text-align: center;
  background: #c6ccd6;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #4c4c4c;
  transition: background 0.1s, color 0.1s;
  font-family: var(--font);
  -moz-box-shadow: 0 0 4px rgba(50,50,93,.1);
  -webkit-box-shadow: 0 0 4px rgba(50,50,93,.1);
  box-shadow: 0 0 4px rgba(50,50,93,.1);
  &:hover {
    background: #a1aabb;
  }
  &:active {
    background: #a1aabb;
  }
}

.ffs-fr .label, .ffs-con .label {
    width: 50%;
}


.input:focus + .label {
  z-index: 1;
}

.input:checked + .label {
  background: #fff;
  color: #4c4c4c;
}

@media (max-width: 600px) {
    .label {
        width: 100%;
        margin-bottom: 1rem;
    }
  
    .input:checked + .label {
        margin-bottom: 0;
    }

    .ffs-fr .label, .ffs-con .label {
        width: 100%;
    }
}

.panel {
  display: none;
  order: 99;
  z-index: 10;
}

.panel-segment {
  padding: 4rem 4rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  margin-top: 0;
  word-wrap: break-word;
}

.panel-segment a {
    border-bottom: 2px dotted #a1aabb;
    display: inline;
    line-height: 1.7;
}

.panel-segment a:hover, .panel-segment a:focus, .panel-segment a:active {
    border-bottom: 2px solid #a1aabb;
}


.panel-segment:last-child {
    margin-bottom: 1rem;
}

.panel-segment h1 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    line-height: 1.2;
    font-size: 2rem;
}

.panel-segment h2 {
    margin-top: 2.5rem;
    text-align: left;
}

.panel-segment h3 {
    padding-top: 0;
    font-size: 1.5rem;
    margin-top: 1.7rem;
    font-family: var(--font);
    font-weight: bold;
    text-decoration: none;
}

.panel-segment h3:first-child {
    margin-top: 0;
}

.panel-segment p, .panel-segment ul li, .panel-segment ol li, .dongf p {
    padding-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.7;
}

.panel-segment ul, .panel-segment ol {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.panel-segment .gldiscuss {
    padding-top: 2.5rem;
    margin-top: 3rem;
    border-top: 1.5px solid #d0d4dd;
}

.milestone.panel-segment {
    position: relative;
    padding: 0 4rem 4rem 4rem;
}

.milestone.panel-segment p {
    padding-top: 0.5rem;
}

.milestone.panel-segment:first-of-type {
    padding-top: 4rem;
}

.milestone.panel-segment:after {
    content: '';
    width: 100%;
    display: none;
    border-bottom: 1.5px solid #d0d4dd;
    padding-top: 4rem;
}

.milestone.panel-segment:last-of-type:after {
    display: none;
}

.milestone.panel-segment h3 {
    margin-top: 0;
}

.input:checked + .label + .panel {
  display: block;
}

@media only screen and (max-width: 75rem) {
    
    .ffs-proposal .info-block {
        padding: 3rem;
    }    

    .panel-segment {
        padding: 3rem;
    }

    .milestone.panel-segment {
        padding: 0 3rem 3rem 3rem;
    }

    .milestone.panel-segment:first-of-type, .milestone.panel-segment:after {
        padding-top: 3rem;
    }
        
    .panel-segment h2 {
        margin-top: 2.3rem;
    }

    .panel-segment h3 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }
        
    .panel-segment h1 {
        margin-bottom: 2rem;
    }

    .panel-segment .gldiscuss {
        padding-top: 2rem;
        margin-top: 2.5rem;
    }

    .panel-segment p, .panel-segment ul li, .panel-segment ol li {
        padding-top: 0.5rem;
    }
    
}

@media only screen and (max-width: 62rem) {



}

@media only screen and (max-width: 48rem) {
    
    .ffs-proposal .info-block, .panel-segment {
        padding: 2rem;
    }    

    .milestone.panel-segment {
        padding: 0 2rem 2rem 2rem;
    }

    .milestone.panel-segment:first-of-type, .milestone.panel-segment:after {
        padding-top: 2rem;
    }

    .panel-segment p, .panel-segment ul li, .panel-segment ol li, .dongf p {
        font-size: 1rem;
    }
        
    .panel-segment h2 {
        margin-top: 2rem;
    }

    .panel-segment h3 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    } 
        
    .panel-segment h1 {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
    }

    .panel-segment .gldiscuss {
        padding-top: 1.5rem;
        margin-top: 2rem;
    }
        
    .fund-required p.author-list, .fund-required p.date-list {
        font-size: 1rem;
    }
        
    .complete-proposal p.author-list, .complete-proposal p.date-list, .complete-proposal p.progress-number-goal, .complete-proposal p.date-list, .in-progress p.autor-list, .in-progress p.date-list, .in-progress p.progress-number-goal {
        display: block;
        margin-left: 0;
        padding-top: 0.9rem;
        font-size: 1rem;
    }
    
}

@media (max-width: 600px) {

    .panel {
        order: 0;
    }
        
    .panel-segment h1 {
        font-size: 1.5rem;
    }
  
    .input:checked + .label {
        padding-bottom: 0;
    }
    
    .input:checked + .label:after {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 1.5px solid #edeef0;
        padding-bottom: 1rem;
    }
    
    .panel-segment ol {
        padding-left: 1rem;
    }
    
    .panel-segment ul {
        padding-left: 0;
    }

}

/* FFS CONTRIBUTE PAGE */

.ffs-con .con-how p {
    word-wrap: break-word;
}

.ffs-con p.string {
    background-color: #edeff2;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
}

.ffs-con .qr, .ffs-con .qr:hover, .ffs-con .qr:focus, .ffs-con .qr:active {
    border: none;
    border-radius: 10px;
    display: inline-block;
    -moz-box-shadow: 0 0 20px rgba(50,50,93,.4);
    -webkit-box-shadow: 0 0 20px rgba(50,50,93,.4);
    box-shadow: 0 0 20px rgba(50,50,93,.4);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ffs-con .qr img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 15rem;
}

@media (max-width: 600px) {

    .ffs-con .panel {
        display: initial;
    }

    .ffs-con .input:checked + .label, .ffs-con .input + .label {
        display: none;
    }

    .ffs-con .qr img {
        max-width: 100%;
    }

}


/* FFS WORK IN PROGRESS LIST */

.in-progress .progress-bar {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.in-progress p.bar-work-status {
    padding-top: 0;
    font-weight: bold;
}

@media only screen and (max-width: 62rem) {

    .in-progress p.author-list, .in-progress p.date-list {
        font-size: 1rem;
    }

    .in-progress p.bar-work-status {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 48rem) {

    .in-progress p.author-list {
        font-size: 0.9rem;
        padding-top: 0;
    }

}

@media only screen and (max-width: 41rem) {

    .in-progress .between-xs {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .in-progress p.bar-work-status, .ffs-cp p.bar-work-status {
        text-align: left;
        float: none;
        font-size: 0.9rem;
        padding-top: 0;
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 30rem) {

    .in-progress p.author-list, .in-progress p.date-list, .in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
        padding-top: 0.7rem;
    }

}

/* FFS WORK IN PROGRESS SINGLE */

.ffs-proposal p.author-list, .ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .ffs-proposal p.bar-work-status {
    display: inline;
}

.ffs-proposal p.bar-work-status, .ffs-proposal p.bar-fund-status {
    text-align: right;
    float: right;
}

.ffs-wip p.bar-work-status:after, .ffs-cp p.bar-work-status:after {
    clear: both;
}

@media only screen and (max-width: 75rem) {
    
    .in-progress p.bar-work-status {
        text-align: left;
        float: none;
        display: block;
        margin-top: 1rem;
    }    
    
}


@media only screen and (max-width: 62rem) {

    .ffs-proposal p.author-list, .ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .ffs-proposal p.bar-work-status {
        font-size: 1rem;
    }

    .ffs-proposal p.bar-work-status, .ffs-proposal p.bar-work-status, .ffs-proposal p.bar-fund-status, .fund-required p.bar-fund-status {
        text-align: left;
        float: none;
        display: block;
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 48rem) {

    .ffs-proposal p.author-list, .ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .ffs-proposal p.bar-work-status {
        font-size: 1rem;
    }

    .ffs-wip p.date-list, .ffs-wip p.progress-number-goal, .ffs-cp p.date-list, .ffs-cp p.progress-number-goal {
        margin-left: 1rem;
    }

}

@media only screen and (max-width: 37rem) {

    .ffs-proposal p.author-list, .ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .fund-required p.author-list, .fund-required p.date-list {
        padding-top: 0.9rem;
    }
        
    .ffs-proposal p.bar-fund-status, .ffs-proposal p.bar-work-status {
        padding-top: 0;
    }

    .ffs-wip .progress-bar, .ffs-cp .progress-bar {
        margin-top: 0.5rem;
    }

    .ffs-proposal p.author-list, .ffs-proposal p.date-list, .ffs-proposal p.progress-number-goal, .ffs-proposal p.bar-work-status, .fund-required p.author-list, .fund-required p.date-list, .ffs-proposal p.bar-fund-status, .in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
        display: block;
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 30rem) {



}

/* FFS COMPLETED PROPOSAL LIST */

/* FFS COMPLETED PROPOSAL SINGLE */


.ffs .tabPanel-content a {
    display: block;
}

.ffs-breadcrumbs p {
    display: inline;
    font-size: 0.85rem;
    padding: 0;
}

.ffs-breadcrumbs p a, .ffs-breadcrumbs p.bread-active {
    display: inline-block;
    height: 16px;
    text-align: center;
    padding: 0.5rem 0.2rem 0.5rem 1.5rem;
    position: relative;
    font-size: 0.7rem;
    text-decoration: none;
    color: #4c4c4c;
    margin-bottom: 1rem;
    border: none;
    line-height: 16px;
    min-width: 10rem;
    -moz-box-shadow: 0 0 4px rgba(50,50,93,.1);
    -webkit-box-shadow: 0 0 4px rgba(50,50,93,.1);
    box-shadow: 0 0 4px rgba(50,50,93,.1);
}

.ffs-breadcrumbs p a:hover, .ffs-breadcrumbs p a:active, .ffs-breadcrumbs p a:focus {
    border: none;
    background-color: #a1aabb;
}

.ffs-breadcrumbs p a:hover:after, .ffs-breadcrumbs p a:active:after, .ffs-breadcrumbs p a:focus:after {
    border-left: 16px solid #a1aabb;
}

.ffs-breadcrumbs p a {
    background-color: #c6ccd6;
}

.ffs-breadcrumbs p.bread-active {
    background-color: #fff;
}

.ffs-breadcrumbs p a:before, .ffs-breadcrumbs p.bread-active:before {
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #edeef0;
    position: absolute;
    left: 0;
    top: 0;
}

.ffs-breadcrumbs p:first-of-type a:before {
  display: none;
}

.ffs-breadcrumbs p:first-of-type a {
   padding-left: 0.8rem;
}

.ffs-breadcrumbs p a:after, .ffs-breadcrumbs p.bread-active:after {
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1;
}

.ffs-breadcrumbs p a:after {
    border-left: 16px solid #c6ccd6;
} 

.ffs-breadcrumbs p.bread-active:after {
    border-left: 16px solid #fff;
}

@media only screen and (max-width: 62rem) {

    .ffs-breadcrumbs {
        display: none;
    }

}

@media only screen and (max-width: 48rem) {


}

.ffs-backlink p {
    text-align: left;
    padding-top: 0;
    padding-bottom: 1rem;
    font-size: 0.85rem;
    margin-top: -2rem;
}

.ffs-backlink p:before {
    content: '\003c';
}

.ffs-status {
    color: #2f6f9f;
    padding: 0.7rem;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
}

.ffs-status p {
    white-space: pre-wrap;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.85rem;
}

.progress-numbers p {
    display: inline-block;
    padding-top: 1.2rem;
}

.progress-bar {
    padding: 0.4rem;
    position: relative;
    margin: 1rem 0 0.5rem 0;
    border-radius: 20px;
    border: 1.5px solid #d0d4dd;
}

.progress-bar span.fund-progress, .progress-bar span.work-progress {
    display: block;
    height: 0.8rem;
    border-radius: 20px;
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,.07);
    position: relative;
    overflow: hidden;
}

.progress-bar span.fund-progress {
    background-color: #4e9965;
}

.progress-bar span.work-progress {
    background-color: #4e9965;
}

@media only screen and (max-width: 75rem) {

}

@media only screen and (max-width: 62rem) {

    .progress-bar {
        margin-top: 0.2rem;
    }

}

@media only screen and (max-width: 48rem) {

}

@media only screen and (max-width: 41rem) {

    .ffs a.ffs-idea {
        padding: 1.5rem;
    }

    .ffs-idea h3 {
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
    }

    .in-progress .progress-bar, .fund-required .progress-bar {
        margin-top: 0.3rem;
    }

    .progress-bar {
        padding: 0.2rem;
    }

}

@media only screen and (max-width: 30rem) {



}

@media only screen and (max-width: 23rem) {

    .ffs p.author-list, .ffs p.date-list, .ffs-proposal p.author-list, .ffs-proposal p.date-list {
        display: block;
    }

    .ffs p.date-list, .ffs-proposal p.date-list {
        margin-left: 0;
    }

}

p.if-issues {
    font-size: 0.8rem;
    padding-top: 2rem;
}
