/* FFS FUNDING REQUIRED LIST */

.ffs .fund-required p.list-button a {
   display: block;
   margin-left: auto;
}

.ffs .fund-required p.list-button .btn-secondary {
   margin-top: 1.5rem;
}

.fund-required p.author {
   padding-top: 0.5rem;
}

.fund-required p.bar-fund-status, .ffs-proposal p.bar-fund-status, .in-progress p.bar-work-status, .ffs-proposal p.bar-work-status, .ffs-con p.bar-fund-status {
   padding-top: 0;
   font-weight: bold;
   font-family: var(--font);
   text-align: right;
   float: right;
   font-size: 1.2rem;
}

.fund-required .progress-bar {
   margin-top: 1rem;
   margin-bottom: 0.5rem;
}

.fund-required a.btn-link:nth-of-type(2) {
   margin-left: 2rem;
}

@media only screen and (max-width: 62rem) {

   .fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
      font-size: 1rem;
   }

   .fund-required p.bar-fund-status, .ffs-fr p.bar-fund-status, .ffs-con p.bar-fund-status {
      font-size: 1rem;
   }

}

@media only screen and (max-width: 48rem) {

   .fund-required p.date-list, .ffs-fr p.date-list {
      padding-top: 0;
   }

}

@media only screen and (max-width: 41rem) {

   .fund-required .between-xs, .ffs-fr .between-xs {
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
   }

   .fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
      padding-top: 0.3rem;
   }

   .fund-required p.bar-fund-status, .ffs-fr p.bar-fund-status, .ffs-con p.bar-fund-status {
      text-align: left;
      float: none;
      font-size: 1rem;
      padding-top: 0;
      margin-top: 1rem;
   }

}

@media only screen and (max-width: 30rem) {
   .fund-required p.author-list, .fund-required p.date-list, .ffs-fr p.author-list, .ffs-fr p.date-list, .ffs-con p.author-list, .ffs-con p.date-list {
      padding-top: 0.7rem;
   }
}

/* FFS FUNDING REQUIRED SINGLE */

.ffs-proposal {
   .info-block {
      padding: 4rem;
   }
   h2 {
      text-align: left;
   }
   p.progress-number-goal {
      padding-top: 0;
      font-size: 1.1rem;
      color: #a1aabb;
      line-height: 0;
      display: inline;
      vertical-align: middle;
   }
   .btn {
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      text-decoration: none;
      font-family: var(--font);
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 0 2rem;
      cursor: pointer;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
      display: inline-block;
      transition: background .15s ease, box-shadow .15s ease;
      margin: 0 auto;
      border-radius: var(--radius);
   }
   .btn-primary {
      background-color: var(--color-secondary);
      color: #ffffff;
      &:hover,
      &:active,
      &:focus {
         background-color: var(--color-tertiary);
         color: #ffffff;
         border: none !important;
         box-shadow: 0 0 30px rgba(50, 50, 93, .2), 0 3px 22px rgba(0, 0, 0, .2);
      }
   }
}


.in-progress p.progress-number-goal, .complete-proposal p.progress-number-goal {
   font-size: 1.1rem;
   color: #a1aabb;
   line-height: 0;
   display: inline;
   vertical-align: middle;
}

.tabs {
   display: flex;
   flex-wrap: wrap;
}

.input {
   position: absolute;
   opacity: 0;
}

.label {
   width: 33.333%;
   padding: 1rem 0;
   text-align: center;
   background: #c6ccd6;
   cursor: pointer;
   font-weight: bold;
   font-size: 18px;
   color: #4c4c4c;
   transition: background 0.1s, color 0.1s;
   font-family: var(--font);
   box-shadow: 0 0 4px rgba(50,50,93,.1);
   &:hover {
      background: #a1aabb;
   }
   &:active {
      background: #a1aabb;
   }
}

.ffs-fr .label, .ffs-con .label {
   width: 50%;
}


.input:focus + .label {
   z-index: 1;
}

.input:checked + .label {
   background: #fff;
   color: #4c4c4c;
}

@media (max-width: 600px) {
   .label {
      width: 100%;
      margin-bottom: 1rem;
   }

   .input:checked + .label {
      margin-bottom: 0;
   }

   .ffs-fr .label, .ffs-con .label {
      width: 100%;
   }
}

.panel {
   display: none;
   order: 99;
   z-index: 10;
}

.panel-segment {
   padding: 4rem 4rem;
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(50,50,93,.1);
   margin-top: 0;
   word-wrap: break-word;
}

.panel-segment a {
   border-bottom: 2px dotted #a1aabb;
   display: inline;
   line-height: 1.7;
}

.panel-segment a:hover, .panel-segment a:focus, .panel-segment a:active {
   border-bottom: 2px solid #a1aabb;
}


.panel-segment:last-child {
   margin-bottom: 1rem;
}

.panel-segment h1 {
   margin-top: 0;
   margin-bottom: 2.5rem;
   line-height: 1.2;
   font-size: 2rem;
}

.panel-segment h2 {
   margin-top: 2.5rem;
   text-align: left;
}

.panel-segment h3 {
   padding-top: 0;
   font-size: 1.5rem;
   margin-top: 1.7rem;
   font-family: var(--font);
   font-weight: bold;
   text-decoration: none;
}

.panel-segment h3:first-child {
   margin-top: 0;
}

.panel-segment p, .panel-segment ul li, .panel-segment ol li, .dongf p {
   padding-top: 1rem;
   font-size: 1.1rem;
   line-height: 1.7;
}

.panel-segment ul, .panel-segment ol {
   padding-top: 0;
   padding-bottom: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.panel-segment .gldiscuss {
   padding-top: 2.5rem;
   margin-top: 3rem;
   border-top: 1.5px solid #d0d4dd;
}

.milestone.panel-segment {
   position: relative;
   padding: 0 4rem 4rem 4rem;
}

.milestone.panel-segment p {
   padding-top: 0.5rem;
}

.milestone.panel-segment:first-of-type {
   padding-top: 4rem;
}

.milestone.panel-segment:after {
   content: '';
   width: 100%;
   display: none;
   border-bottom: 1.5px solid #d0d4dd;
   padding-top: 4rem;
}

.milestone.panel-segment:last-of-type:after {
   display: none;
}

.milestone.panel-segment h3 {
   margin-top: 0;
}

.input:checked + .label + .panel {
   display: block;
}

@media only screen and (max-width: 75rem) {
   
   .ffs-proposal .info-block {
      padding: 3rem;
   }    

   .panel-segment {
      padding: 3rem;
   }

   .milestone.panel-segment {
      padding: 0 3rem 3rem 3rem;
   }

   .milestone.panel-segment:first-of-type, .milestone.panel-segment:after {
      padding-top: 3rem;
   }
      
   .panel-segment h2 {
      margin-top: 2.3rem;
   }

   .panel-segment h3 {
      font-size: 1.3rem;
      margin-top: 1.5rem;
   }
      
   .panel-segment h1 {
      margin-bottom: 2rem;
   }

   .panel-segment .gldiscuss {
      padding-top: 2rem;
      margin-top: 2.5rem;
   }

   .panel-segment p, .panel-segment ul li, .panel-segment ol li {
      padding-top: 0.5rem;
   }
   
}

@media only screen and (max-width: 62rem) {



}

@media only screen and (max-width: 48rem) {
   
   .ffs-proposal .info-block, .panel-segment {
      padding: 2rem;
   }    

   .milestone.panel-segment {
      padding: 0 2rem 2rem 2rem;
   }

   .milestone.panel-segment:first-of-type, .milestone.panel-segment:after {
      padding-top: 2rem;
   }

   .panel-segment p, .panel-segment ul li, .panel-segment ol li, .dongf p {
      font-size: 1rem;
   }
      
   .panel-segment h2 {
      margin-top: 2rem;
   }

   .panel-segment h3 {
      font-size: 1.3rem;
      margin-top: 1.5rem;
   } 
      
   .panel-segment h1 {
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
   }

   .panel-segment .gldiscuss {
      padding-top: 1.5rem;
      margin-top: 2rem;
   }
      
   .fund-required p.author-list, .fund-required p.date-list {
      font-size: 1rem;
   }
      
   .complete-proposal p.author-list, .complete-proposal p.date-list, .complete-proposal p.progress-number-goal, .complete-proposal p.date-list, .in-progress p.autor-list, .in-progress p.date-list, .in-progress p.progress-number-goal {
      display: block;
      margin-left: 0;
      padding-top: 0.9rem;
      font-size: 1rem;
   }
   
}

@media (max-width: 600px) {

   .panel {
      order: 0;
   }
      
   .panel-segment h1 {
      font-size: 1.5rem;
   }

   .input:checked + .label {
      padding-bottom: 0;
   }
   
   .input:checked + .label:after {
      content: '';
      width: 100%;
      display: block;
      border-bottom: 1.5px solid #edeef0;
      padding-bottom: 1rem;
   }
   
   .panel-segment ol {
      padding-left: 1rem;
   }
   
   .panel-segment ul {
      padding-left: 0;
   }

}