<footer class="container-fluid">
    <div class="row center-xs">
        <div class="footer-links">
            <ul class="list-unstyled list-inline">
                <li>View on Github:</li>
                <li><a href="https://github.com/particl/ccs-front" class="white footer-link">Front-end</a></li>
                <li><a href="https://github.com/particl/ccs-back" class="white footer-link">Back-end</a></li>
                <li><a href="https://github.com/particl/ccs-proposals" class="white footer-link">Proposals</a></li>
            </ul>
        </div>
    </div>
</footer>