<footer class="container-fluid">
            <div class="row center-xs">
                    <div class="footer-links">
                        <ul class="list-unstyled list-inline">
                             <li><a href="https://github.com/zcoinofficial/ccs-front" class="white footer-link">CCS Front End Repo</a></li>
                             <li><a href="https://github.com/zcoinofficial/ccs-back" class="white footer-link">CCS Backend Repo</a></li>
                             <li><a href="https://github.com/zcoinofficial/ccs-proposals" class="white footer-link">CCS Proposals Repo</a></li>
                        </ul>
                    </div>
            </div>
</footer>