<footer class="container-fluid">

   <div class="donate container">
      <div class="row center-xs footer-wrapper">
         <div class="col-md-8 col-sm-10 col-xs-12">
            <h3>Donate to the Particl Project</h3>
            <p>By donating to the following Particl address, you are supporting the Particl Project. If you wish to donate to a specific proposal, please see <a href="/funding-required/index.html" class="white gf">Funding Required</a>.</p>
            <p class="gf-address">$$$$$$$$$$$$$$$$$$$$</p>
         </div>
      </div>
   </div>

   <div class="row center-xs">
      <div class="footer-links">
         <ul class="list-unstyled list-inline">
            <li>View on Github:</li>
            <li><a href="https://github.com/particl/ccs-front" class="white footer-link">Front-end</a></li>
            <li><a href="https://github.com/particl/ccs-back" class="white footer-link">Back-end</a></li>
            <li><a href="https://github.com/particl/ccs-proposals" class="white footer-link">Proposals</a></li>
         </ul>
      </div>
   </div>

</footer>
