---
layout: base
---

<div class="site-wrap ffs-proposal ffs-fr">

   <div class="container ffs-breadcrumbs">
      <div class="row">
         <div class="col-xs-12">
            <p><a href="/">Community Crowdfunding System</a></p>
            <p><a href="/funding-required/">Funding Required</a></p>
            <p class="bread-active">{{page.title}}</p>
         </div>
      </div>
   </div>

   <section class="container full">
      <div class="info-block">
         <div class="row">
            <div class="col-xs-12"> 
               {% for toplevel in site.data.proposals %}
               {% if toplevel.stage == "Funding Required" %}
               {% for proposal in toplevel.proposals %}
               {% if proposal.name == page.title %}
               <h2 class="proposal-detail-title">{{page.title}}</h2>
               <p class="author-list">{{proposal.author}}</p>
               <p class="date-list">{{proposal.date}}</p>
               <p class="date-list contributor">{{proposal.contributions}} contributors</p>
               <p class="bar-fund-status">Raised <span class="progress-number-funded">{{proposal.amount-funded}}</span> of <span class="progress-number-goal">{{proposal.amount}}</span> PART</p>
               <div class="progress-bar">
                  <span class="fund-progress" style="width: {{proposal.percentage}}%"></span>
               </div>
               <div class="contribute-dropdown">
                  <div class="tab">
                     <input id="tab-con" type="checkbox" name="tabs" class="accordion">
                     <label for="tab-con" class="accordion btn">Contribute</label>
                     <div class="tab-content">
                        <div class="donate-contribute instructions">
                           <p><strong>1.</strong> Choose the amount of PART you wish to contribute to this proposal.</p>
                           <p><strong>2.</strong> Scan the QR code or tap to open in your <a href="https://particl.io/downloads" target="_blank">Particl wallet</a> app:</p>
                           <p>
                              <a href="particl:{{ proposal.donate-address }}" class="qr-code">
                                 <img src="{{ proposal.donate-qr-code }}">
                              </a>
                           </p>
                           <p>or copy the following PART address:</p>
                           <p class="address-string">{{ proposal.donate-address }}</p>
                           <p><strong>3.</strong> Send!</p>
                           <p><strong>4.</strong> Optionally <a target="_blank" href="https://explorer.particl.io/address/{{ proposal.donate-address }}">check the address</a> if coins were received</p>
                           <p>Thank you! You are amazing!</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Voting state -->
   {% if proposal.vote_results %}
   <section class="container full">
      <div class="info-block">
         <div class="row">
            <div class="col-xs-12"> 
               <h2 class="proposal-detail-title">Voting Status</h2>
               <p class="author-list vote-id">Vote #{{proposal.vote_results.vote_id}}</p>
               <p class="date-list">Voting period: block {{proposal.vote_results.block_height_start}} &ndash; {{proposal.vote_results.block_height_end}}</p>
               <p class="date-list vote-yes">{{proposal.vote_results.blocks_yes}}&times; Yes</p>
               <p class="date-list vote-no">{{proposal.vote_results.blocks_no}}&times; No</p>
               <p class="date-list vote-abstain">{{proposal.vote_results.blocks_abstain}}&times; Abstained</p>

               <hr>

               <div class="voting-instructions">
                  <p>
                     Vote on whether you want to approve (1) or reject (2) this proposal:
                  </p>
                  <div class="row">
                     <div class="vote-option col-md-5">
                        <img src="/img/thumb-up.svg" alt="Thumb up" class="ico">
                        <strong>Vote to Approve</strong>
                        <pre class="yes">./particl-cli setvote {{proposal.vote_results.vote_id}} 1 {{proposal.vote_results.block_height_start}} {{proposal.vote_results.block_height_end}}</pre>
                     </div>
                     <div class="or-wrap col-md-2"><div class="or">OR</div></div>
                     <div class="vote-option col-md-5">
                        <img src="/img/thumb-down.svg" alt="Thumb down" class="ico">
                        <strong>Vote to Reject</strong>
                        <pre class="no">./particl-cli setvote {{proposal.vote_results.vote_id}} 2 {{proposal.vote_results.block_height_start}} {{proposal.vote_results.block_height_end}}</pre>
                     </div>
                  </div>
                  <p>
                     Vote using Partyman, Particl Desktop, Particl Qt, or Particl CLI (<a href="https://particl.wiki/tutorial/staking/how-to-vote/">How to Vote</a>)
                  </p>
               </div><!-- .voting-instructions -->

            </div>
         </div>
      </div>
   </section>
   {%endif%}

   <section class="container full">
      <div class="">
         <div class="row between-xs">
            <div class="col-xs-12">
               <div class="tabs">
                  <input class="input" name="tabs" type="radio" id="tab-1" checked="checked"/>
                  <label class="label" for="tab-1">Proposal</label>
                  <div class="panel col-xs-12">
                     <div class="panel-segment">
                        {{content}}
                        <div class="gldiscuss">
                           <h3>Community Discussion and Updates</h3>
                           <p><a href="{{proposal.gitlab-url}}">View community discussion, comments, and proposal updates on GitHub</a></p>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                        {%endfor%}
                     </div>
                  </div>
                  <input class="input" name="tabs" type="radio" id="tab-2"/>
                  <label class="label" for="tab-2">Milestones</label>
                  <div class="panel col-xs-12">
                  {% if page.milestones != nil %}
                  {% for milestones in page.milestones %}
                     <div class="milestone panel-segment">
                        <span class="{{milestones.status}} ms-{{milestones.status}}"></span>
                        <h3>{{milestones.name}}</h3>
                        <p><span class="bold">To be paid:</span> {{milestones.funds}}</p>
                        <p><span class="bold">Completion date:</span> {{milestones.done}}</p>
                     </div>
                     {%endfor%}
                     {%else%}
                     <div class="panel-segment">
                        <p>No milestones</p>
                     </div>
                     {%endif%}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

</div><!-- .site-wrap -->
